@page
@model MyApp.Namespace.Empleados.DetailsModelEmpleado
@{
    ViewData["Title"] = "Detalle Empleado";
}
<h1>Información Detallada</h1>
<br/>
<br/>

<div>
    <div class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.empleado.Nombre)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.empleado.Nombre)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.empleado.Apellido)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.empleado.Apellido)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.empleado.Edad)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.empleado.Edad)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.empleado.TipoDocumento)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.empleado.TipoDocumento)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.empleado.Salario)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.empleado.Salario)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.empleado.NumeroDocumento)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.empleado.NumeroDocumento)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.empleado.Telefono)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.empleado.Telefono)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.empleado.Correo)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.empleado.Correo)
        </dd>
    </div>
</div>
<br />
<br />

<div>
    <a class="btn btn-primary" asp-page="./List">
        <i class="fas fa-angle-double-left">Regresar</i>
    </a>
</div>