@page
@model MyApp.Namespace.Empleados.ListModelEmpleado
@{
    ViewData["Title"] = "Lista de Empleados";
}
<div class="text-center center">
    <h1>Empleados</h1>
</div>

<br />

<div>
<td>
    <a class="btn btn-outline-primary" asp-page="./Create">Nuevo Empleado
        <i class="fas fa-user-plus"></i>
    </a>
</td>
</div>
<br />

<table class="table">
    <tr>
        <!-- <th>Id</th> -->
        <th>Tipo Doc</th>
        <th>Número</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Detalles</th>
        <th>Editar</th>        
        <th>Eliminar</th>
    </tr>
    @foreach (var empleado in Model.empleados)
    {
        <tr>
            <!--<td>@empleado.Id</td>-->
        <td>@empleado.TipoDocumento</td>
            <td>@empleado.NumeroDocumento</td>
            <td>@empleado.Nombre</td>
            <td>@empleado.Apellido</td>
            <td>
                <a class="btn btn-outline-info" asp-page="./Details" asp-route-id="@empleado.Id">
                    <i class="far fa-id-badge"></i>
                </a>

            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-page="./Update" asp-route-id="@empleado.Id">
                    <i class="fas fa-user-edit"></i>
                </a>

            </td>
            <td>
                <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@empleado.Id">
                     <i class="fas fa-user-minus"></i>
                </a>

            </td>
        </tr>
    }

</table>
